.desktoponly {
   display: none;
}
@media screen and (min-device-width: 1px) and (max-device-width: 600px){

    .navbar {
        height: 300px;
        background-color: #3A5B15;
    }

    .nav1 {
       position: relative;
       left: 120px; 
       top: 100px;
       text-decoration: underline;
       color: white;
       font-size: large;
    }
    .nav2 {
        position: relative;
        left: 200px; 
        top: 100px;
        text-decoration: underline;
        color: white;
        font-size: large;
     }
     .nav3 {
        position: relative;
        left: 270px; 
        top: 100px;
        text-decoration: underline;
        color: white;
        font-size: large;
     }

     .nilocdevs-logo {
      position: relative;
      left: 75px;
      bottom: 300px;

     }

     .headerimage {
      position: relative;
      bottom: 420px;
      right: 225px;
   
     }

     .banner-square {
      position: relative; 
      bottom: 810px;
      left: 100px;
      width: 400px;
      background-color: #9e9e9e8e;
      padding: 50px;
      margin: 20px;
      border-radius: 12px;
      text-align: center;
      font-size: 200px;

     }

     .hr1 {
      position: relative;
      background-color: #3A5B15;
      height: 15px;
      width: 600px;
      bottom: 610px;
     }
     /* Our contact information section */

     .our-contact-information{
      position: relative;
      bottom: 550px;
      left: 155px;
      text-decoration: underline;
     }
     .contact-form{
      position: relative;
      bottom: 500px;
      left: 50px;
     }
     .fname-section{
      label {
         position: relative;
         top: 17px;
      }
      input {
         position: relative; 
         right: 50px;
         width: 450px;
         top: 45px;
      }
   }
      .lname-section {
         label {
            position: relative;
            top: 17px;
         }
      input {
         position: relative; 
         right: 50px;
         width: 450px;
         top: 45px;
      }    
   }
   .email-section {
      label {
         position: relative;
         top: 17px;
      }
      input {
         position: relative; 
         right: 80px;
         width: 450px;
         top: 45px;
      }   

   }
   .pnumber-section {

      label {
         position: relative;
         top: 15px;
      }
      input {
         position: relative; 
         right: 85px;
         width: 450px;
         top: 45px;
      }   
   }
   .rcontact-section {
      
      label {
         position: relative;
         bottom: 80px;
      }

      input {
         position: relative; 
         right: 115px;
         width: 450px;
         height: 300px;
         top: 85px;
      }   
   }
   .submit-section {
      position: relative;
      top: 80px;
      left: 28px;
   }
      
   .hr2 {

      position: relative;
      background-color: #3A5B15;
      height: 10px;
      border: 5px;
     top: 260px;
      width: 600px;
      right: 50px;
      padding-bottom: 15px;


   }
    /* footer section */
    .footersection {
      position: relative;
      top: 250px;
      right: 30px;
      height: 500px;
  }
  /* footer social media icons */
  .social-icons { 
      position: relative;
      left: 10px;
  }
  .github-logo {
      position: relative;
      left: 110px;
      bottom: 125px;
  }
  .facebook-logo {
      position: relative;
      left: 200px;
      bottom: 55px;
  }
  .instagram-logo {
      position: relative;
      left: 285px;
      top: 70px;
  }
  .twitter-logo {
      position: relative;
      left: 365px;
      top: 7px;
  }
  /* footer navigation */
  .privacy-policy {
      position: relative;
      left: 85px;
      bottom: 110px;
      text-decoration: underline;
      font-size: 22px;
  }
  .services {
      position: relative;
      left: 375px;
      bottom: 160px;
      text-decoration: underline;
      font-size: 22px;
  }
  .website-accessibility {
      position: relative;
      left: 55px;
      bottom: 150px;
      text-decoration: underline;
      font-size: 22px;
  }
  .legal-information {
      position: relative;
      left: 325px;
      bottom: 195px;
      text-decoration: underline;
      font-size: 22px;
  }
  .website-title-footer {
      position: relative;
      bottom: 110px;
      left: 220px;
      font-size: 150px;
  }
  .copyright {
      position: relative;
      left: 165px;
      bottom: 125px;
      color: grey;
  }
  .hr3 {
      position: relative;
      background-color: #3A5B15;
      height: 10px;
      border: 5px;
      bottom: 85px;
      width: 600px;
      right: 25px;
  }
     


}
@media screen and (min-device-width: 601px) and (max-device-width: 992px){
   .navbar {
      width: 100%;
      height: 300px;
      background-color: #3A5B15;
  }

  .nav1 {
     position: relative;
     left: 120px; 
     top: 100px;
     text-decoration: underline;
     color: white;
     font-size: large;
  }
  .nav2 {
      position: relative;
      left: 200px; 
      top: 100px;
      text-decoration: underline;
      color: white;
      font-size: large;
   }
   .nav3 {
      position: relative;
      left: 270px; 
      top: 100px;
      text-decoration: underline;
      color: white;
      font-size: large;
   }

   .nilocdevs-logo {
    position: relative;
    left: 75px;
    bottom: 300px;

   }

   .headerimage {
    position: relative;
    bottom: 428px;
    right: 32px;
   }

   .banner-square {
    position: relative; 
    bottom: 950px;
    right: 20px;
    width: 992px;
    height: 300px;
    background-color: #9e9e9e8e;
    padding: 50px;
    margin: 20px;
    text-align: center;
    
    h1{
      font: bold;
      font-size: 400%;
      position: relative;
      top: 55px;
    }

   }
   .hr1 {
      position: relative;
      background-color: #3A5B15;
      height: 15px;
      width: 992px;
      bottom: 770px;
     }
/* Our contact information section */

.our-contact-information{
   position: relative;
   bottom: 730px;
   left: 320px;
   text-decoration: underline;
  }

  .contact-form{
   position: relative;
   bottom: 750px;
   left: 150px;
  }
  
  .fname-section{
   label {
      position: relative;
      top: 17px;
   }
   input {
      position: relative; 
      right: 50px;
      width: 450px;
      top: 45px;
   }
}
   .lname-section {
      label {
         position: relative;
         top: 17px;
      }
   input {
      position: relative; 
      right: 50px;
      width: 450px;
      top: 45px;
   }    
}
.email-section {
   label {
      position: relative;
      top: 17px;
   }
   input {
      position: relative; 
      right: 80px;
      width: 450px;
      top: 45px;
   }   

}
.pnumber-section {
   label {
      position: relative;
      top: 15px;
   }
   input {
      position: relative; 
      right: 85px;
      width: 450px;
      top: 45px;
   }   
}
.rcontact-section {
   
   label {
      position: relative;
      bottom: 80px;
   }

   input {
      position: relative; 
      right: 115px;
      width: 450px;
      height: 300px;
      top: 85px;
   }   
}
.submit-section {
   position: relative;
   top: 80px;
   left: 28px;
}
   
.hr2 {
   position: relative;
   background-color: #3A5B15;
   height: 15px;
   right: 150px;
   width: 992px;
   bottom: -100px;
   padding-bottom: 15px;
}

/* footer section */

.social-icons {
   position: relative;
   top: 200px;
   left: 120px;
}
.facebook-logo {
   position: relative;
   left: 125px;
   bottom: 127px;
}
.instagram-logo {
   position: relative;
}
.twitter-logo {
   position: relative;
   left: 405px;
   bottom: 60px;
}
.github-logo {
   position: relative;
   left: 255px;
   bottom: 197px;
}

.website-accessibility {
   position: relative;
   left: 20px;
   bottom: 50px;
   text-decoration: underline;
   font-size: larger;
}
.privacy-policy {
   position: relative;
   left: 50px;
   text-decoration: underline;
   font-size: larger;
   top: 80px;
}
.legal-information {
   position: relative;
   left: 550px;
   bottom: 95px;
   text-decoration: underline;
   font-size: larger;
}
.services {
   position: relative;
   left: 595px;
   top: 35px;
   text-decoration: underline;
   font-size: larger;
}
.website-title-footer {
   position: relative;
   left: 300px;
   top: 150px;
   font-size: large;
}
.copyright {
   position: relative;
   left: 235px;
   color: grey;
}
.hr3 {
   background-color: #3A5B15;
   height: 5px;
   position: relative;
   right: 150px;
}




}


@media screen and (min-device-width: 993px) and (max-device-width: 1440px){
.desktoponly{
   display: block;
}
.headerimage {
   display: none;
}
   .navbar {
      height: 300px;
      background-color: #3A5B15;
  }

  .nav1 {
     position: relative;
     left: 120px; 
     top: 100px;
     text-decoration: underline;
     color: white;
     font-size: large;
  }
  .nav2 {
      position: relative;
      left: 200px; 
      top: 100px;
      text-decoration: underline;
      color: white;
      font-size: large;
   }
   .nav3 {
      position: relative;
      left: 270px; 
      top: 100px;
      text-decoration: underline;
      color: white;
      font-size: large;
   }

   .nilocdevs-logo {
    position: relative;
    left: 75px;
    bottom: 300px;

   }

   .headerimage {
    position: relative;
    bottom: 420px;
    width: 1440px%;
 
   }

   .banner-square {
    position: relative; 
    bottom: 810px;
    left: 100px;
    width: 400px;
    background-color: #9e9e9e8e;
    padding: 50px;
    margin: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 200px;

   }

   .hr1 {
    position: relative;
    background-color: #3A5B15;
    height: 15px;
    width:1440px;
    bottom: 610px;
   }
   /* Our contact information section */

   .our-contact-information{
    position: relative;
    bottom: 550px;
    left: 155px;
    text-decoration: underline;
   }
   .contact-form{
    position: relative;
    bottom: 500px;
    left: 50px;
   }
   .fname-section{
    label {
       position: relative;
       top: 17px;
    }
    input {
       position: relative; 
       right: 50px;
       width: 450px;
       top: 45px;
    }
 }
    .lname-section {
       label {
          position: relative;
          top: 17px;
       }
    input {
       position: relative; 
       right: 50px;
       width: 450px;
       top: 45px;
    }    
 }
 .email-section {
    label {
       position: relative;
       top: 17px;
    }
    input {
       position: relative; 
       right: 80px;
       width: 450px;
       top: 45px;
    }   

 }
 .pnumber-section {

    label {
       position: relative;
       top: 15px;
    }
    input {
       position: relative; 
       right: 85px;
       width: 450px;
       top: 45px;
    }   
 }
 .rcontact-section {
    
    label {
       position: relative;
       bottom: 80px;
    }

    input {
       position: relative; 
       right: 115px;
       width: 450px;
       height: 300px;
       top: 85px;
    }   
 }
 .submit-section {
    position: relative;
    top: 80px;
    left: 28px;
 }
    
 .hr2 {

    position: relative;
    background-color: #3A5B15;
    height: 10px;
    border: 5px;
   top: 260px;
    width: 1440px;
    right: 50px;
    padding-bottom: 15px;


 }
  /* footer section */
  .footersection {
    position: relative;
    top: 250px;
    right: 30px;
    height: 500px;
}
/* footer social media icons */
.social-icons { 
    position: relative;
    left: 10px;
}
.github-logo {
    position: relative;
    left: 360px;
    bottom: 125px;
}
.facebook-logo {
    position: relative;
    left: 500px;
    bottom: 55px;
}
.instagram-logo {
    position: relative;
    left: 685px;
    top: 70px;
}
.twitter-logo {
    position: relative;
    left: 805px;
    top: 7px;
}
/* footer navigation */
.privacy-policy {
    position: relative;
    left: 205px;
    bottom: 110px;
    text-decoration: underline;
    font-size: 22px;
}
.services {
    position: relative;
    left: 950px;
    bottom: 160px;
    text-decoration: underline;
    font-size: 22px;
}
.website-accessibility {
    position: relative;
    left: 175px;
    bottom: 150px;
    text-decoration: underline;
    font-size: 22px;
}
.legal-information {
    position: relative;
    left: 910px;
    bottom: 195px;
    text-decoration: underline;
    font-size: 22px;
}
.website-title-footer {
    position: relative;
    top: 50px;
    left: 570px;
    font-size: 250px;
}
.copyright {
    position: relative;
    left: 510px;
    bottom: 125px;
    color: grey;
}
.hr3 {
    position: relative;
    background-color: #3A5B15;
    height: 10px;
    border: 5px;
    bottom: 85px;
    width: 1440px;
    right: 25px;
}
   


}