
/* mobile device query */
@media screen and (min-device-width: 1px) and (max-device-width: 600px){

    /* Navigation bar at the top of the page */
    .navbar {
        height: 300px;
        background-color: #3A5B15;
    }
    .navbar-nav {
        position: relative;
        text-decoration: underline;
        color: white;
        top: 100px;
        font-size: larger;
        left: 85px;
    }
    .nav1 {
        padding-left: 50px;
    }
    .nav2 {
        padding-left: 50px;
    }
    .nav3 {
        padding-left: 50px;
    }
    .nilocdevs-logo {
        position: relative;
        bottom: 300px;
        left: 80px;
    }
    /* banner section */
    .headergreeting {
        h1 {
            position: relative;
            bottom: 350px;
            left: 130px;
            font-size:60px;
            width: 400px;
        }
    }
    /* greetingimage */
    .headerimage {
        position: relative;
        left: 60px;
        bottom: 300px;
    }
    /* socials navigation */
    .hr1 {
        position: relative;
        background-color: #3A5B15;
        height: 20px;
        border: 5px;
        bottom: 200px;
        width: 600px;
        padding-bottom: 15px;
    }
    .github-icon {
        position: relative;
    }
    .socials {
        position: relative;
        bottom: 75px;
        left: 35px;
    }
    /* social cards */
    /* card1 = github */
    .card1 {
        font-size: x-large;
        padding-top: 25px;
        text-align: center;
        
        h5 {
            position: relative;
            font-size: larger;
        }
    }
    /* card2 = instagram */
    .card2 {
        font-size: x-large;
        padding-top: 25px;
        text-align: center;
        h5 {
            position: relative;
            font-size: larger;
        }
    }



    /* What do we do section */
    .whatdowedo {
        text-align: center;
    }
    .whatdowedoheader{
        h2{
            text-decoration: underline;
            font-size: 58px;
        }
    }
    .whatdowedotext{
        h3{
            position: relative;
            left: 100px;
            top: 25px;
            font-size: 38px;
            width: 400px;
        }
    }

    /*Our Catalog button within the "what do we do?" section  */

    .whatdowedobutton {
        position: relative;
        top: 100px;
        left: 140px;
        background-color: #3A5B15;
        width: 300px;
        height: 75px;
        border-radius: 10px;
        box-shadow: inset;

        h3{
            position: relative;
            left: 80px;
            top: 20px;
            color: white;
        }
    }
    /* hr above the footer of homepage */
    .hr2 {
        position: relative;
        background-color: #3A5B15;
        height: 20px;
        border: 5px;
        top: 250px;
        width: 600px;
        padding-bottom: 15px;
    }
    /* footer section */
    .footersection {
        position: relative;
        top: 250px;
        height: 500px;
    }
    /* footer social media icons */
    .social-icons { 
        position: relative;
        left: 10px;
    }
    .github-logo {
        position: relative;
        left: 110px;
        bottom: 125px;
    }
    .facebook-logo {
        position: relative;
        left: 200px;
        bottom: 55px;
    }
    .instagram-logo {
        position: relative;
        left: 285px;
        top: 70px;
    }
    .twitter-logo {
        position: relative;
        left: 365px;
        top: 7px;
    }
    /* footer navigation */
    .privacy-policy {
        position: relative;
        left: 85px;
        bottom: 110px;
        text-decoration: underline;
        font-size: 22px;
    }
    .services {
        position: relative;
        left: 375px;
        bottom: 160px;
        text-decoration: underline;
        font-size: 22px;
    }
    .website-accessibility {
        position: relative;
        left: 55px;
        bottom: 150px;
        text-decoration: underline;
        font-size: 22px;
    }
    .legal-information {
        position: relative;
        left: 325px;
        bottom: 195px;
        text-decoration: underline;
        font-size: 22px;
    }
    .website-title-footer {
        position: relative;
        bottom: 110px;
        left: 220px;
        font-size: 150px;
    }
    .copyright {
        position: relative;
        left: 165px;
        bottom: 125px;
        color: grey;
    }
    .hr3 {
        position: relative;
        background-color: #3A5B15;
        height: 10px;
        border: 5px;
        bottom: 85px;
        width: 600px;
        padding-bottom: 15px;
    }
}
/* laptop device query */
@media screen and (min-device-width: 601px) and (max-device-width: 992px){

 /* Navigation bar at the top of the page */
 .navbar {
    height: 120px;
    background-color: #3A5B15;
}
.navbar-nav {
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 22px;
    left: 315px;
    top: 8px;
}
.nav1 {
    padding-left: 50px;
}
.nav2 {
    padding-left: 50px;
}
.nav3 {
    padding-left: 50px;
}
.nilocdevs-logo {
    position: relative;
    bottom: 120px;
    left: -20px;

    img{
        width: 30%;
    }
}
/* banner section */
.headergreeting {
    h1 {
        position: relative;
        bottom: 20px;
        left: 20px;
        font-size:60px;
        width: 400px;
    }
}
/* greetingimage */
.headerimage {
    position: relative;
    left: 440px;
    bottom: 240px;

    img {
        width: 40%;
    }
}
 /* socials navigation */
 .hr1 {
    position: relative;
    background-color: #3A5B15;
    height: 20px;
    border: 5px;
    bottom: 200px;
    width: 992px;
    padding-bottom: 15px;
}
.github-icon {
    position: relative;
}
.socials {
    position: relative;
    bottom: 75px;
    left: 35px;
}
/* card1 = github */
.card1 {
    font-size: x-large;
    padding-top: 25px;
    text-align: center;
    
    h5 {
        position: relative;
        font-size: larger;
    }
}
/* card2 = instagram */
.card2 {
    font-size: x-large;
    padding-top: 25px;
    text-align: center;
    h5 {
        position: relative;
        font-size: larger;
    }
}


}

/* desktop device query */
@media screen and (min-device-width: 993px) and (max-device-width: 1080px){
    
}