a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: burlywood;
}

/* mobile device query */
@media screen and (min-device-width: 1px) and (max-device-width: 600px){

    /* Navigation bar at the top of the page */
    .navbar {
        height: 300px;
        background-color: #3A5B15;
    }
    .navbar-nav {
        position: relative;
        text-decoration: underline;
        color: white;
        top: 100px;
        font-size: larger;
        left: 85px;
    }
    .nav1 {
        padding-left: 50px;
    }
    .nav2 {
        padding-left: 50px;
    }
    .nav3 {
        padding-left: 50px;
    }
    .nilocdevs-logo {
        position: relative;
        bottom: 300px;
        left: 80px;
    }
    /* banner section */
    .headergreeting {
        h1 {
            position: relative;
            bottom: 350px;
            left: 130px;
            font-size:60px;
            width: 400px;
        }
    }
    /* greetingimage */
    .headerimage {
        position: relative;
        left: 60px;
        bottom: 300px;
    }
    /* socials navigation */
    .hr1 {
        position: relative;
        background-color: #3A5B15;
        height: 20px;
        border: 5px;
        bottom: 200px;
        width: 600px;
        padding-bottom: 15px;
    }
    .github-icon {
        position: relative;
    }
    .socials {
        position: relative;
        bottom: 75px;
        left: 35px;
    }
    /* social cards */
    /* card1 = github */
    .card1 {
        font-size: x-large;
        padding-top: 25px;
        text-align: center;
        
        h5 {
            position: relative;
            font-size: larger;
        }
    }
    /* card2 = instagram */
    .card2 {
        font-size: x-large;
        padding-top: 25px;
        text-align: center;
        h5 {
            position: relative;
            font-size: larger;
        }
    }



    /* What do we do section */
    .whatdowedoheader {
        position: relative;
        text-align: center;
        font-size: 55px;
        text-decoration: underline;
    
        h2 {
            font-size: larger;
        }
    }
    .whatdowedotext {
        position: relative;
        width: 600px;
        text-align: center;
        padding-top: 15px;
    }
    .button-wdwdn{
        position: relative;
        left: 425px;
        top: 100px;
        scale: 200%;
    }
    /* hr above the footer of homepage */
    .hr2 {
        position: relative;
        background-color: #3A5B15;
        height: 20px;
        border: 5px;
        top: 250px;
        width: 600px;
        padding-bottom: 15px;
    }
    /* footer section */
    .footersection {
        position: relative;
        top: 250px;
        height: 500px;
    }
    /* footer social media icons */
    .social-icons { 
        position: relative;
        left: 10px;
    }
    .github-logo {
        position: relative;
        left: 110px;
        bottom: 125px;
    }
    .facebook-logo {
        position: relative;
        left: 200px;
        bottom: 55px;
    }
    .instagram-logo {
        position: relative;
        left: 285px;
        top: 70px;
    }
    .twitter-logo {
        position: relative;
        left: 365px;
        top: 7px;
    }
    /* footer navigation */
    .privacy-policy {
        position: relative;
        left: 85px;
        bottom: 110px;
        text-decoration: underline;
        font-size: 22px;
    }
    .services {
        position: relative;
        left: 375px;
        bottom: 160px;
        text-decoration: underline;
        font-size: 22px;
    }
    .website-accessibility {
        position: relative;
        left: 55px;
        bottom: 150px;
        text-decoration: underline;
        font-size: 22px;
    }
    .legal-information {
        position: relative;
        left: 325px;
        bottom: 195px;
        text-decoration: underline;
        font-size: 22px;
    }
    .website-title-footer {
        position: relative;
        bottom: 110px;
        left: 220px;
        font-size: 150px;
    }
    .copyright {
        position: relative;
        left: 165px;
        bottom: 125px;
        color: grey;
    }
    .hr3 {
        position: relative;
        background-color: #3A5B15;
        height: 10px;
        border: 5px;
        bottom: 85px;
        width: 600px;
        padding-bottom: 15px;
    }
}
/* laptop device query */
@media screen and (min-device-width: 601px) and (max-device-width: 992px){

 /* Navigation bar at the top of the page */
 .navbar {
    height: 120px;
    background-color: #3A5B15;
    width: 992px;
}
.navbar-nav {
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 22px;
    left: 515px;
    top: 8px;
}
.nav1 {
    padding-left: 50px;
}
.nav2 {
    padding-left: 50px;
}
.nav3 {
    padding-left: 50px;
}
.nilocdevs-logo {
    position: relative;
    bottom: 140px;
    left: -20px;

    img{
        width: 30%;
    }
}
/* banner section */
.headergreeting {
    h1 {
        position: relative;
        bottom: 50px;
        left: 80px;
        font-size:60px;
        width: 400px;
    }
}
/* greetingimage */
.headerimage {
    position: relative;
    left: 540px;
    bottom: 320px;

    img {
        width: 40%;
    }
}
 /* socials navigation */
 .hr1 {
    position: relative;
    background-color: #3A5B15;
    height: 20px;
    border: 5px;
    bottom: 200px;
    width: 992px;
    padding-bottom: 15px;
}
.github-icon {
    position: relative;
}
.socials {
    position: relative;
    bottom: 75px;
    left: 35px;
    display: grid;
    grid-template-columns:446px 446px;
    width: 50px;
}

/* card1 = github */
.card1 {
    font-size: x-large;
    padding-top: 25px;
    text-align: center;
    
    
    h5 {
        position: relative;
        bottom: 30px;
        font-size: larger;
    }

    p {
        position: relative;
        bottom: 30px;
    }
}
/* card2 = instagram */
.card2 {
    position: relative;
    bottom: 25px;
    left: 25px;
    font-size: x-large;
    padding-top: 25px;
    text-align: center;
    
    h5 {
        position: relative;
        font-size: larger;
    }
}
/* hr between whatdowedo and socials */
.hr4 {
    position: relative;
    left: 100px;
    width: 800px;
    padding-bottom: 25px;
}
/* what do we do section below */

.whatdowedoheader {
    position: relative;
    text-align: center;
    font-size: 55px;
    text-decoration: underline;

    h2 {
        font-size: larger;
    }
}
.whatdowedotext {
    position: relative;
    width: 600px;
    text-align: center;
    padding-top: 15px;
    left: 200px;
}
.button-wdwdn{
    position: relative;
    left: 825px;
    top: 100px;
    scale: 200%;
}
.hr2 {
    position: relative; top: 200px;
    background-color: #3A5B15;
    height: 20px;
}
.social-icons {
    position: relative;
    top: 250px;
    left: 270px;
}
.facebook-logo {
    position: relative;
    left: 125px;
    bottom: 127px;
}
.instagram-logo {
    position: relative;
}
.twitter-logo {
    position: relative;
    left: 405px;
    bottom: 60px;
}
.github-logo {
    position: relative;
    left: 255px;
    bottom: 197px;
}

.website-accessibility {
    position: relative;
    left: 150px;
    bottom: 50px;
    text-decoration: underline;
    font-size: larger;
}
.privacy-policy {
    position: relative;
    left: 185px;
    text-decoration: underline;
    font-size: larger;
    top: 80px;
}
.legal-information {
    position: relative;
    left: 600px;
    bottom: 95px;
    text-decoration: underline;
    font-size: larger;
}
.services {
    position: relative;
    left: 645px;
    top: 35px;
    text-decoration: underline;
    font-size: larger;
}
.website-title-footer {
    position: relative;
    left: 400px;
    top: 150px;
    font-size: large;
}
.copyright {
    position: relative;
    left: 335px;
    color: grey;
}
.hr3 {
    background-color: #3A5B15;
    height: 5px;
}
}

/* desktop device query */
@media screen and (min-device-width: 993px) and (max-device-width: 2200px) {

 /* Navigation bar at the top of the page */
 .navbar {
    height: 120px;
    background-color: #3A5B15;
    width: 1440px;
}
.navbar-nav {
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 22px;
    left: 915px;
    top: 8px;
}
.nav1 {
    padding-left: 50px;
}
.nav2 {
    padding-left: 50px;
}
.nav3 {
    padding-left: 50px;
}
.nilocdevs-logo {
    position: relative;
    bottom: 135px;
    left: 20px;

    img{
        width: 20%;
    }
}
/* banner section */
.headergreeting {
    h1 {
        position: relative;
        top: 100px;
        left: 120px;
        font-size: 60px;
        width: 500px;
    }
}
/* greetingimage */
.headerimage {
    position: relative;
    left: 700px;
    bottom: 320px;

    img {
        width: 40%;
    }
}
 /* socials navigation */
 .hr1 {
    position: relative;
    background-color: #3A5B15;
    height: 20px;
    border: 5px;
    bottom: 200px;
    width: 1440px;
    padding-bottom: 15px;
}
.github-icon {
    position: relative;
}
.socials {
    position: relative;
    bottom: 75px;
    left: 65px;
    display: grid;
    grid-template-columns:646px 646px;
    width: 50px;
}

/* card1 = github */
.card1 {
    font-size: x-large;
    padding-top: 25px;
    padding-left: 15px;
    text-align: center;
    
    
    h5 {
        position: relative;
        bottom: 30px;
        font-size: larger;
    }

    p {
        position: relative;
        bottom: 30px;
    }
}
/* card2 = instagram */
.card2 {
    position: relative;
    bottom: 25px;
    left: 25px;
    font-size: x-large;
    padding-top: 25px;
    text-align: center;
    
    h5 {
        position: relative;
        font-size: larger;
    }
}
/* hr between whatdowedo and socials */
.hr4 {
    position: relative;
    left: 100px;
    width: 1300px;
    padding-bottom: 25px;
}
/* what do we do section below */

.whatdowedoheader {
    position: relative;
    left: 120px;
    text-align: center;
    font-size: 85px;
    text-decoration: underline;
    width: 1200px;
    bottom: 5px;

    h2 {
        font-size: larger;
    }
}
.whatdowedotext {
    position: relative;
    width: 600px;
    font-size: 205px;
    text-align: center;
    padding-top: 15px;
    left: 425px;
    bottom: 10px;
}
.button-wdwdn{
    position: relative;
    left: 1255px;
    top: 100px;
    scale: 200%;
}
.hr2 {
    position: relative; top: 200px;
    background-color: #3A5B15;
    width: 1440px;
    height: 20px;
}
.social-icons {
    position: relative;
    top: 250px;
    left: 500px;
}
.facebook-logo {
    position: relative;
    left: 125px;
    bottom: 127px;
}
.instagram-logo {
    position: relative;
}
.twitter-logo {
    position: relative;
    left: 405px;
    bottom: 60px;
}
.github-logo {
    position: relative;
    left: 255px;
    bottom: 197px;
}

.website-accessibility {
    position: relative;
    left: 200px;
    bottom: 100px;
    text-decoration: underline;
    font-size: 35px;
}
.privacy-policy {
    position: relative;
    left: 255px;
    text-decoration: underline;
    font-size: 35px;
    top: 120px;
    
}
.legal-information {
    position: relative;
    left: 950px;
    bottom: 175px;
    text-decoration: underline;
    font-size: 35px;
}
.services {
    position: relative;
    left: 1025px;
    top: 50px;
    text-decoration: underline;
    font-size: 35px;
}
.website-title-footer {
    position: relative;
    left: 665px;
    top: 250px;
    font-size:xx-large;
}
.copyright {
    position: relative;
    left: 595px;
    color: grey;
}
.hr3 {
    background-color: #3A5B15;
    height: 5px;
}
}



