
/* mobile device query */
@media screen and (min-device-width: 1px) and (max-device-width: 600px){

    /* Navigation bar at the top of the page */
    .navbar {
        height: 300px;
        background-color: #3A5B15;
    }
    .navbar-nav {
        position: relative;
        text-decoration: underline;
        color: white;
        top: 100px;
        font-size: larger;
        left: 35px;
    }
    .nav1 {
        padding-left: 50px;
    }
    .nav2 {
        padding-left: 50px;
    }
    .nav3 {
        padding-left: 50px;
    }
    .nilocdevs-logo {
        position: relative;
        bottom: 300px;
        left: 30px;
    }
}

/* laptop device query */
@media screen and (min-device-width: 601px) and (max-device-width: 992px){

}

/* desktop device query */
@media screen and (min-device-width: 993px) and (max-device-width: 1080px){
    
}